<div class="news">
    <div class="order">
        <span class="label">Ordina</span>
        <select class="inputOrder" id="inputOrder">
            <option selected>più recenti</option>
            <option>più vecchi</option>
        </select>
    </div>
    <div class="container">
        <div class="page" v-for="page in itemPages">
            <div class="card" v-for="item in page">
                <div class="image" style="background-image: url({{item.image}});"></div>
                <div class="content">
                    <div class="date"><i class="fas fa-calendar"></i>{{item.date}}</div>
                    <h2 class="title">{{item.title}}</h2>
                    <p class="description">{{item.description}}</p>
                    <a class="link" href="{{item.cta.link}}">{{item.cta.label}} <i class="fas fa-arrow-up rotate-45"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div>
            <span>Page </span> 
            <span class="currentPage"></span> 
            <span>of</span> 
            <span class="totPages"></span>
        </div>
        <div class="controls">
            <button id="prevBtn">Previous</button>
            <button id="nextBtn">Next</button>
        </div>
    </div>
</div>