<div class="contact-box">
  <span class="contact-box-tag">Hai bisogno di più informazioni?</span>
  <h2 class="title">Contattaci o passa a trovarci</h2>
  <p class="subtitle">Siamo al Politecnico di Milano - Campus Bovisa Durando</p>
  <div class="contacts-wrapper">
    <div class="address contact-inner">
      <div class="address-data">
        <img class="icon" src="/assets/icons/icon_address.png" alt="img address"/>
        <p>Via Giovanni Durando, 10, 20158 Milano MI</p>
      </div>
      <img class="address-pic" src="/assets/images/contact/frame_address.png" alt="img address"/>
    </div>
    <div class="contacts">
      <div class="contact-inner"> 
        <img class="icon" src="/assets/icons/icon_email.png" alt="img email"/>
        <h3 class="text-semibold label-color">Email</h3>
        <p>Scrivi ai nostri consulenti</p>
        <p class="text-semibold value-color">emanuele.chierichetti@made-cc.eu</p>
      </div>
  
      <div class="contact-inner"> 
        <img class="icon" src="/assets/icons/icon_phone.png" alt="img phone"/>
        <h3 class="text-semibold label-color">Telefono</h3>
        <p>Mon-Fri from 8am to 5pm.</p>
        <p class="text-semibold value-color">3884261356</p>
      </div>
    </div>
  </div>
</div>



