<div class="contact-box">
  <span class="contact-box-tag">Hai bisogno di più informazioni?</span>
  <h2 class="contact-box-title">Contattaci o passa a trovarci</h2>
  <p class="contact-box-subtitle">Siamo al Politecnico di Milano - Campus Bovisa Durando</p>
  <div class="contact-boxes-wrapper">
    <div class="div-sx contact-innerbox">
      <div class="contact-box-div-address">
        <img class="contact-box-icon" src="/assets/images/icons/icon_address.png" alt="img address"/>
        <p class="contact-box-text-address">Via Giovanni Durando, 10, 20158 Milano MI</p>
      </div>
      <img class="contact-box-image" src="/assets/images/contact/frame_address.png" alt="img address"/>
    </div>
    <div class="div-dx">
      <div class="contact-box-div-email contact-innerbox"> 
        <img class="contact-box-icon" src="/assets/images/icons/icon_email.png" alt="img email"/>
        <h3 class="text-semibold label-color">Email</h3>
        <p>Scrivi ai nostri consulenti</p>
        <p class="text-semibold value-color">emanuele.chierichetti@made-cc.eu</p>
      </div>
  
      <div class="contact-box-div-phone contact-innerbox"> 
        <img class="contact-box-icon" src="/assets/images/icons/icon_phone.png" alt="img phone"/>
        <h3 class="text-semibold label-color">Telefono</h3>
        <p>Mon-Fri from 8am to 5pm.</p>
        <p class="text-semibold value-color">3884261356</p>
      </div>
    </div>
  </div>
</div>



