<div class="contact-hero" style="background-image: url({{backgroundHero}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="title">{{titleHero}}</div>
        <div class="content">
            <div class="text-content">
                <div class="subtitle">{{subtitleHero}}</div>
                <div class="point" v-for="point in points">
                    <div class="check"></div>
                    <div class="description">{{point}}</div>
                </div>
            </div>
            <a class="cta-btn" href="#consulenti-link">Contatta i nostri esperti</a>
        </div>
    </div>
</div>