.contact-hero{
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    margin-bottom: 90px;
}

.contact-hero .overlay{
    background: center/cover rgba(12,9,47, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.contact-hero .container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    gap: 3.5em;
    padding: 160px 16px;

    z-index: 1;
}


.contact-hero .title{
    color: var(--h-color);
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
}

.contact-hero .content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-hero .text-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-hero .subtitle{
    color: var(--h-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}

.contact-hero .point {
    display: grid;
    grid-template-columns: .1fr .9fr;
    gap: 12px;
}

.contact-hero .check{
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/images/elements/check.png");
}

.contact-hero .description{
    font-size: 18px;
    color: var(--h-color);
    font-weight: 300;
    width: 88%;
}

.contact-hero .cta-btn {
    border: 2px solid var(--border-color);
    font-size: 18px;
    font-weight: 500;
    padding: 16px 24px;
}


@media(min-width: 1024px) {
    .contact-hero .container{
        padding: 15rem var(--padding-md);
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    .contact-hero .title{
        font-size: 52px;
    }

    .contact-hero .content{
        justify-content: center;
        padding-right: 12em;
    }
}

@media(min-width: 1500px) {

    .contact-hero .title{
        font-size: 60px;
    }
}