.comments{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 8em 0 4em;
    gap: 12px;
    padding-bottom: 60px;
    padding-left: 10px;
}

.comments .carousel {
    padding-bottom: 0;
}

.comments .comments-container{
    align-items: end;
}

.comments .comment{
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.comments .title{
    font-size: 29px;
    font-weight: 400;
    color: var(--h-color);
    margin: 0;
}

.comments .profile{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-right: 170px;
}

.comments .picture{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: var(--radius-rounded);
}

.comments .infos{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.comments .name{
    font-size: 18px;
    font-weight: 400;
    color: var(--h-color);
}

.comments .roles{
    font-size: 16px;
    font-weight: 300;
    color: var(--p-color);
}

.comments .controls{
    position: absolute;
    bottom: -20px;
    left: 0px;
    background-color: var(--secondary-color);
    padding: 10px;
    gap: 32px;
    display: flex;
    flex-direction: row;
}

.comments .controls div {
    background-color: transparent;
    color: #8B94A5;
    border: 1px solid #1E2533;
    padding: 15px 21.2px;
    cursor: pointer;
    border-radius: var(--radius-rounded);
    font-size: 18px;
    font-weight: 100;
}

@media(min-width:1024px) {
    .comments .title {
        font-size: 38px;
    }

    .comments .controls{
        bottom: 50px;
        right: 0px;
        left: unset;
    }

    .comments .profile{
        padding-right: 0px;
    }
}