<div class="comments carousel" comments-carousel>
    <div class="comments-container slides" comments-carousel-container>
        <div class="comment slide" v-for="comment in comments">
            <div class="title">{{comment.title}}</div>
            <div class="profile">
                <div class="picture" style="background-image: url({{comment.image}});"></div>
                <div class="infos">
                    <div class="name">{{comment.name}}</div>
                    <div class="roles">{{comment.roles}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="controls">
        <div class="prevBtn"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="nextBtn"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
</div>