<div class="consulenti-link">
    <div class="head">
        <div class="text">Vuoi trasformare la tua azienda con le nostre soluzioni innovative?</div>
        <div id="toggleButton" class="button cta-btn">
            Chiedi come ai nostri consulenti
            <i id="icon" class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

    <div class="popup-container hidden">
        <div class="popup">
            <div class="title">
                Desideri confrontarti con noi?
            </div>
        </div>
    </div>

</div>