<div class="europe-link" style="background: url({{background}}) center/cover;">
    <div class="overlay"></div>

    <div class="content">
        <div class="infos">
            <div class="tag">{{tag}}</div>
            <div class="title">{{ title }}</div>
            <div class="text">{{ text }}</div>
        </div>
        <div class="button-container">
            <button class="button cta-btn" href="{{cta.link}}">
                {{ cta.label }}
                <i class="fa-solid fa-arrow-up rotate-45"></i>
            </button>
        </div>
    </div>
</div>