<div class="contact-form-1">
    <div class="contacts">
    <div class="title">Desideri confrontarti con noi?</div>
    <form class="form">
        <!--
        <div class="form-item">
            <label for="InputAreas" class="form-label">Seleziona area di interesse *</label>
            <select id="InputAreas" class="form-control" aria-label="Default select example">
                <option selected>
                    Formazione
                    <div class="tag">@Marta Rispoli</div>
                </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-item">
            <label for="InputEmail" class="form-label">Email *</label>
            <input id="InputEmail" type="email" class="form-control" placeholder="Inserisci la tua email">
        </div>
        <div class="check-item">
            <input type="checkbox" class="form-check-input" id="privacyCheck">
            <label class="form-check-label" for="privacyCheck">Confermo di aver visionato <a href="https://www.made-cc.eu/it/privacy-policy/">l'informativa sulla privacy<span style="color: red;">*</span></a></label>
        </div>
        <div class="check-item">
            <input type="checkbox" class="form-check-input" id="dataCheck">
            <label class="form-check-label" for="dataCheck">Autorizzo MADE S.C. a R.L. a trattare i miei dati personali per l’invio di newsletter e per finalità di marketing diretto.</label>
        </div>
        <button class="request-button">
            <i class="fa-solid fa-envelope"></i> 
            Richiedi di essere contattato
        </button>
        -->
    </form>
    </div>

    <div class="steps">
        <div class="step">
            <div class="head">
                <div class="step-tag special">Passo 1</div>
                <div class="name">Contattaci</div>
            </div>
            <div class="description">
                Fai il primo passo: siamo qui per ascoltare le tue esigenze.
            </div>
        </div>

        <div class="step">
            <div class="head">
                <div class="step-tag">Passo 2</div>
                <div class="name">Analizziamo insieme</div>
            </div>
            <div class="description">
                Valutiamo i tuoi obiettivi e definiamo le migliori opportunità.
            </div>
        </div>

        <div class="step">
            <div class="head">
                <div class="step-tag">Passo 3</div>
                <div class="name">Definiamo il piano</div>
            </div>
            <div class="description">
                Ti proponiamo soluzioni su misura, pronte per essere attuate.
            </div>
        </div>

        <div class="step">
            <div class="head">
                <div class="step-tag">Passo 4</div>
                <div class="name">Realizziamo il progetto</div>
            </div>
            <div class="description">
                Trasformiamo la strategia in azioni concrete e risultati tangibili.
            </div>
        </div>
    </div>
</div>