<div class="contact-form-1">
    <div class="container">
        <div class="contacts">
        <h2 class="title">Desideri confrontarti con noi?</h2>
        
        </div>
    
        <div class="steps">
            <div class="step">
                <div class="head">
                    <div class="step-tag special">Passo 1</div>
                    <h3 class="name">Contattaci</h3>
                </div>
                <p class="description">
                    Fai il primo passo: siamo qui per ascoltare le tue esigenze.
                </p>
            </div>
    
            <div class="step">
                <div class="head">
                    <div class="step-tag">Passo 2</div>
                    <div class="name">Analizziamo insieme</div>
                </div>
                <div class="description">
                    Valutiamo i tuoi obiettivi e definiamo le migliori opportunità.
                </div>
            </div>
    
            <div class="step">
                <div class="head">
                    <div class="step-tag">Passo 3</div>
                    <div class="name">Definiamo il piano</div>
                </div>
                <div class="description">
                    Ti proponiamo soluzioni su misura, pronte per essere attuate.
                </div>
            </div>
    
            <div class="step">
                <div class="head">
                    <div class="step-tag">Passo 4</div>
                    <div class="name">Realizziamo il progetto</div>
                </div>
                <div class="description">
                    Trasformiamo la strategia in azioni concrete e risultati tangibili.
                </div>
            </div>
        </div>

    </div>
</div>