.contact-form-1{
    display: flex;
    flex-direction: column;
    margin: 90px 0 90px 0;
}

.contact-form-1 .contacts{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 16px;
    border-radius: var(--radius-lg);
    border: 1px solid var(--primary-color);
    background-color: var(--bg-dark-3);
}

.contact-form-1 .title{
    font-size: 36px;
    font-weight: 600;
    color: var(--h-color);
}

/*
.contact-form-1 .form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-form-1 .form-item{
    display: flex;
    flex-direction: column;
    gap:6px;
}

.contact-form-1 .form-label{
    font-size: 14px;
    color: var(--a-color)
}

.contact-form-1 .form-control{
    border: 1px solid var(--border-color-2);
    background-color: var(--bg-dark-2);
    border-radius: var(--radius-sm);
    color: var(--h-color);
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 300;
}
    

.contact-form-1 .tag{
    color: var(--p-color);
    font-weight: 200;
}

.contact-form-1 .check-item{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.contact-form-1 .form-check-label{
    font-size: 16px;
    color: var(--a-color);
    width: 91%;
}

.contact-form-1 .form-check-input{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    border-radius: var(--radius-xs);
    width: 21px;
    height: 21px;
}

.contact-form-1 .form-check-input::before{
    content: "";
    width: 1.15rem;
    height: 1.15rem;
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
    margin: -1px;
    transform: scale(0);
    background-color: white;
    transition: all .1s ease-out;
}

.contact-form-1 .form-check-input:checked::before{
    transform: scale(1);
}

.contact-form-1 .form-check-input:hover {
    border-color: var(--utility-gray);
}
.contact-form-1 .form-check-input:hover::before {
    background-color: var(--p-color);
}

.contact-form-1 .request-button{
    border: 2px solid var(--border-color);
    border-radius: var(--radius-rounded);
    background-color: var(--cta-color);
    padding: 12px 18px;
    color: white;
    font-size: 16px;
}
*/


.contact-form-1 .steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 24px;
}


.contact-form-1 .step{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-form-1 .head{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contact-form-1 .name{
    font-size: 20px;
    color: var(--h-color);
}

.contact-form-1 .description{
    font-size: 14px;
    color: var(--p-color);
}

.contact-form-1 .step-tag{
    font-size: 12px;
    color: var(--light-text);
    padding: 0px 8px;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-rounded);
    line-height: 2.1;
}

.contact-form-1 .step-tag.special{
    font-size: 12px;
    color: #75E0A7;
    padding: 0px 8px;
    background-color: #053321;
    border: 1px solid #079455;
    border-radius: var(--radius-rounded);
    line-height: 2.1;
}



@media(min-width:1024px) {
    .contact-form-1{
        flex-direction: row;
        gap: 24px;
    }
}