<div class="slider">
  <div class="top">
    <h1>Bando in scadenza</h1>
    <div class="box-white">
      <div>Apply within</div>
      <div style="height: 1px; background: black; width: 100%;"></div>
      <div style="display: grid;
          gap: 1em;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: end;">
        <div>
          <div class="value days">999</div>
          <div class="unit">days</div>
        </div>
        <div>
          <div class="value hours">999</div>
          <div class="unit">days</div>
        </div>
        <div>
          <div class="valu minutes">999</div>
          <div class="unit">days</div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="bottom">
    <div class="card">
      <div class="img">
        <img src="/assets/images/hero/hero-bg.jpg" alt="">
      </div>
      <div class="content">
        <div>
          <h2>Bando per la selezione di progetti di ricerca industriale, sviluppo sperimentale e studi di fattibilità.</h2>
          <p>Il presente bando si inserisce nell’ambito interventi di attuazione legati al PNRR - Next Generation EU I2.3M4C2, secondo quanto previsto dal Decreto Ministeriale e dalla Convenzione di sovvenzione per la regolamentazione dei rapporti di attuazione, gestione e controllo relativi al programma di attività presentato da MADE e sottoscritta con il MIMIT in data 23 maggio 2023, così come integrata con l’Addendum sottoscritto in data 20 dicembre 2024.</p>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr;">
          <button class="cta-btn">Applica al bando</button>
          <button class="cta-btn">Vai ai dettagli</button>
        </div>
      </div>
    </div>
  </div>
  <style>
    .box-white {
      display: grid;
      gap: 1em;
      grid-template-columns: 150px 1fr 150px;
      align-items: center;
    }
    .value {
      font-size: 15px;
      font-weight: 600;
    }
    .unit {
      font-size: 11px;
      font-weight: 300;
    }
      .value.days { font-size: 1.5em;}
      .value.hours { font-size: 1.1em;}
      .value.minutes { font-size: .7em;}
    .content {
      display: flex
;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    }
  </style>
</div>