.slider {
  background: #D1E0FF;
  color: #141C2B;
  border-radius: var(--radius-xl);
  padding: 1em;
  margin-block: 1em;

  display: grid;
  gap: 1em;
}

.slider .box-white {
  background: #fff;
  border-radius: var(--radius-xl);
  padding: 1em;
}

.slider h1 {
  line-height: 1;
  margin: 0;
}

.slider h1, .slider h2, .slider h3, .slider h4, .slider h5, .slider h6, .slider p {
  color: #141C2B;
}

.slider .top {
  display: grid;
  gap: 1em;
}

.slider .card {
  background-color: #fff;
  border-radius: var(--radius-xl);
  overflow: hidden;
}
.slider .card img {
  display: block;
}
.slider .content {
  padding: 1em;
}

@media (min-width: 1120px) {
  .slider .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .slider .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}