<div class="hero-homepage">
  <div class="hero-carousel" data-carousel>
    <div class="slides" data-carousel-slides-container>
      <div class="slide" v-for="slide in slides">
        <div v-if="slide.cardType === 'plain'" data-component="hero-homepage-card-1" data-object="{{slide}}"></div>
        <div v-if="slide.cardType === 'detailed'" data-component="hero-homepage-card-2" data-object="{{slide}}"></div>
      </div>
      <!-- Add more slides here -->
    </div>
    <div class="carousel-pagination" data-carousel-pagination>
      <!-- Dots will be dynamically added here -->
      <div v-for="slide in slides" class="carousel-dot"><i class="{{slide.navigationIcon}}"></i></div>
    </div>
  </div>
</div>
