.hero-homepage {
  margin: 8px 16px;
}
.hero-carousel {
  position: relative;
  overflow: hidden;
  --current-slide: 0;
}

.hero-carousel .slides {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto; */
}

.hero-carousel .slide {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
  grid-row-start: 1;
  grid-column-start: 1;
}

.hero-carousel .slide.active {
  opacity: 1;
  pointer-events: all;
}

.hero-carousel .carousel-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  font-family: Fontawesome;
}

.hero-carousel .carousel-dot {
  width: 52px;
  height: 52px;
  background-color: var(--cta-color);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-rounded);
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-carousel .carousel-dot.active {
  background-color: var(--dark-text-2);
  border: 1px solid var(--dark-text-2);
}

@media (min-width: 1024px) {
  .hero-carousel .carousel-pagination {
    right: 3em;
    bottom: initial;
    left: initial;
    top: 50%;
    display: grid;
    transform: translateY(-50%);
  }
}
