<div class="hero-homepage">
  <div class="hero-carousel" data-carousel>
    <div class="slides" data-carousel-slides-container>
      <div class="slide">
        <h2>Slide 1 heading</h2>
        <p>Slide 1 content</p>
        <p>Slide 1 content</p>
        <p>Slide 1 content</p>
        <p>Slide 1 content</p>
        <p>Slide 1 content</p>
        <p>Slide 1 content</p>
      </div>
      <div class="slide">
        <h2>Slide 2 heading</h2>
        <p>Slide 2 content</p>
      </div>
      <!-- Add more slides here -->
    </div>
    <div class="carousel-pagination" data-carousel-pagination>
      <!-- Dots will be dynamically added here -->
    </div>
  </div>
</div>
