

.features-slider-card {
  border-radius: var(--radius-md);
  overflow: hidden;
}

.features-slider-card .content {
    display: grid;
    background: linear-gradient(0deg, var(--bg-dark-3) 0%, var(--bg-dark-3)) 100%, var(--primary-color);
    background: url('/assets/images/features/card-bg.png') center/cover;
    gap: 1em;
    grid-template-rows: 1fr 36px;
    padding: 1em;
  }

  .features-slider-card .pic {
    position: relative;
  }
  .features-slider-card .pic img {
    display: block;
  }
  .features-slider-card .pic .tags {
    position: absolute;
    bottom: 8px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
  }
    .features-slider-card .pic .tag-chip {
      color: var(--a-color);
      display: flex;
      gap: .5em;
      align-items: center;
    }

  .features-slider-card .content .details h3 {
    color: var(--h-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.96px;
    margin: 0 0 0.4em;
  }
  .features-slider-card .content .details p {
    color: var(--h-color);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 2em;
  }


@media (min-width: 768px) {
  .features-slider-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .features-slider-card .pic img {
    min-height: 100%;
  }
  .features-slider-card .title h2 {
    font-size: 36px;
  }
}