.kpi-1-card {
  background-color: var(--bg-dark-3);
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  width: 100%;
  gap: 30px;
  border-radius: var(--radius-lg);
  border: 1px solid #101870;
}

.kpi-1-card-value {
  font-family: 'Monoska', sans-serif;
  font-size: 58px;
  font-weight: 400;
  margin: 0;
  line-height: 0.8;
}

.kpi-1-card-label {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 1024px) {
  .kpi-1-card{
    padding: 18px;
    gap: 1.2rem;
  }

  .kpi-1-card-value{
    font-size: 45px;
    line-height: 1;
  }

  .kpi-1-card-label{
    font-size: 13.5px;
  }

}




