<div class="card-item">
    <div class="card-item-image">
        <div class="card-item-image-tags">
        </div>
    </div>
    <div class="card-item-infos">
        <div class="card-item-tag-container">
            <div class="card-item-date-c"><div class="card-item-date"></div></div>
            <div class="card-item-tags"></div>
        </div>
        <div class="card-item-title"></div>
        <a class="card-item-link" href="">Leggi <i class="fa-solid fa-arrow-up rotate-45"></i></a>
    </div>
</div>
