<div class="banner-modal">
    <div class="inner">
        <div class="head">
            <h2 class="text">Vuoi saperne di più sulla formazione su misura?</h2>
            <div class="toggleModal button cta-btn">
                Per chiedere più informazioni
            </div>
        </div>
    
        <div class="modal-overlay">
            <div class="modal">
                <button class="closeModal modal-close">×</button>
                <h2>Vuoi saperne di più sulla formazione su misura?</h2>
                <form action="" style="display: grid; gap: 1em; margin-block: 2em;">
                    <div>
                        <label for="">Nome *</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Cognome *</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Email *</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Seleziona tematica di interesse *</label>
                        <select name="" id="">
                            <option value="">Tematica 1</option>
                            <option value="">Tematica 2</option>
                            <option value="">Tematica 3</option>
                        </select>
                        <div style="display: flex; gap: 1em; margin-block: 1.5em">
                            <button class="button-form">Online</button>
                            <button class="button-form button-form-outline">In presenza</button>
                        </div>
                    </div>
                </form>
                <div class="actions">
                    <!-- <button class="closeModal">Close</button> -->
                    <a class="cta-btn" href="#"><i class="fa-regular fa-envelope"></i> Invia la richiesta</a>
                </div>
            </div>
        </div>
    </div>

</div>