<div class="single-card-slider">
  <div class="title">
    <div>
      <h2>{{ title }}</h2>
      <p v-if="subtitle">{{ subtitle }}</p>
    </div>
    <a v-if="button" class="carousel-link" href="{{ button.link }}">
      {{ button.text }} <i class="fa-solid fa-arrow-up rotate-45"></i>
    </a>
  </div>
  <div class="carousel" data-carousel>
    <div class="slides" data-carousel-slides-container>
      <div v-for="slide in slides" class="slide">
        <div v-if="cardType === 'feature'" data-component="single-card-slider-feature-card" data-object="{{slide}}"></div>
        <div v-if="cardType === 'announcement'" data-component="single-card-slider-announcement-card" data-object="{{slide}}"></div>
      </div>
      <!-- Add more slides here -->
    </div>
    <div class="carousel-pagination" data-carousel-pagination>
      <!-- Dots will be dynamically added here -->
      <div class="carousel-dot"></div>
      <div class="carousel-dot"></div>
    </div>
  </div>
</div>
