.single-card-slider {
  margin: 120px 0;
}
.single-card-slider .title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1.8em;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.single-card-slider .title h2 {
  color: var(--h-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  margin: 0;
}

.single-card-slider .title p {
  color: var(--p-color);
  font-size: 18px;
  font-weight: 300;
  margin: 0.5em 0 0;
}
