<div class="features-home">
  <div class="header">
    <div class="title">{{ title }}</div>
    <div class="subtitle">{{ subtitle }}</div>
  </div>
  
  <div class="carousel-container">
    <div class="features-container">
      <a v-for="feature in features" 
         class="card" 
         href="{{ feature.link }}"
         style="background-image: url({{feature.image}})">
        <div class="actions">
          <div class="tags">
            <span class="tag" v-if="feature.tag">{{ feature.tag }}</span>
          </div>
          <div class="link">
            <i class="fa-solid fa-arrow-up rotate-45" aria-label="Go to detail page"></i>
          </div>
        </div>
        <div class="content">
          <div class="title">{{ feature.title }}</div>
          <div class="description">{{ feature.description }}</div>
        </div>
      </a>
    </div>
    
    <div class="controls">
      <div class="prev">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="next">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>