<div class="themes">
  <h2>Tematiche della formazione creata su misura</h2>
  <div class="bullets">
    <ul>
      <li>Cultura del dato</li>
      <li>Intelligenza artificiale generativa</li>
      <li>Intellingenza artificiale per manufacturing</li>
      <li>Lean 4.0</li>
      <li>Digitalizzazione dei processi produttivi</li>
    </ul>

    <ul>
      <li>Sostenibilità</li>
      <li>Cyber security</li>
      <li>Logistica 4.0</li>
      <li>Progettazione 4.0</li>
      <li>Digital operation & supply chain</li>
    </ul>

    <ul>
      <li>Sensorizzazione e IIot</li>
      <li>Servitizzazione e nuovi modelli di business</li>
      <li>Manifattura additiva</li>
    </ul>
  </div>
</div>