<div class="logo-strip">
  <div class="container">
    <div class="inner-container">
      <div v-if="tag" class="tag">{{tag}}</div>
      <h2 v-if="title" class="title">
        {{title}}
      </h2>
      <p class="description">
        {{description}}
      </p>
    </div>
    <a v-if="cta" href="{{cta.ref}}" class="link">{{cta.label}}
      <i class="fas fa-arrow-up rotate-45"></i>
    </a>
  </div>
  <div class="items">
    <div class="item" v-for="partner in partners">
      <a class="url" href="{{partner.url}}">
        <img class="image" src="{{partner.image}}" alt="{{partner.name}}">
      </a>
    </div>
  </div>
</div>
