<div class="single-card-slider-card "> <!--  div azzurro -->
  <h4 class="title text-black"></h4>
  <div class="single-card-slider-div-time bg-white">
    <p>Hai tempo fino:</p>
    <img class="single-card-slider-image-divider" src="/assets/images/divider.png" alt="">
    <p class="single-card-slider-date text-white"></p>
  </div>
  <div>
    <img class="single-card-slider-image" src="/assets/images/single-card-slider/VISORI CON OPERATORE 6.JPG" alt="">
    <div class="card-item-div bg-white">
      <span class="contact-box-tag">Hai bisongo di più informazioni?</span>
      <h4 class="title-card text-dark"></h4>
      <p class="text-card text-gray-700 "></p>
      <a class="single-card-slider-button-announcement" href="#" ></a>
      <!-- <div class="single-card-slider-button-announcement prevBtn"><i class="fa-solid fa-chevron-left"></i></div> -->
      <div class="prevBtn"><i class="fa-solid fa-chevron-left"></i></div>
      <a class="single-card-slider-button-details" href="#" ></a> 

    </div>
  </div>
</div>