<div class="tech-areas">
    <div class="head">
        <h2 class="title">{{title}}</h2>
        <p class="subtitle"> {{ subtitle }}</p>
    </div>
    <div class="container">
          <div class="tech-item" v-for="item in items">
            <div class="i-head">
                <div class="name-container">
                            <h2 class="id">{{item.id}}</h2>
                            <h3 class="name">{{item.name}}</h3>
                    </div>
                    <div class="link-container">
                        <a href="{{item.link}}" class="link"><i class="fa-solid fa-arrow-up rotate-45"></i></a>
                    </div>
                </div>
                <div class="content">
                    <div class="text">
                        <p class="description">{{item.description}}</p>
                        <div class="tags" >
                            <span class="tag" v-for="tag in item.tags">
                                <span>{{tag.label}} </span>
                                <div class="dot">•</div>
                            </span>
                        </div>
                    </div>
                    <div class="image" style="background-image: url({{item.image}});"></div>
                </div>
            </div>
            
        </div>
    <div class="footer">
        <a class="link" href="{{link.ref}}">{{link.label}} <i class="fas fa-arrow-up rotate-45"></i></a>
    </div>
</div>