.tech-areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
    margin: 50px 0 50px 0;
    
}

.tech-areas .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:15px;
}

.tech-areas .title{
    color: var(--h-color);
    font-size: 24px;
}

.tech-areas .subtitle{
    color: var(--p-color);
    font-size: 16px;
}

.tech-areas .footer{
    text-align: center;
    font-size: 18px;
    border-radius: var(--radius-rounded);
    background-color: var(--cta-color);
    border: 1px solid var(--border-color);
    padding: 16px 22px;
    max-height: 60px;
    line-height: 0.8;
}

.tech-areas .link{
    color: white;
}

.tech-areas .link:hover{
    color: white;
}

.tech-areas .container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}



.tech-item{
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
}

.tech-item .i-head{
    background-color: var(--bg-dark-3);
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    border-bottom: 1.5px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.tech-item .name-container{
    
    display: flex;
    flex-direction: column;
    gap:15px;
}

.tech-item .id{
    font-family: 'Monoska', sans-serif;
    font-size: 30px;
    color: var(--h-color)
}

.tech-item .name{
    font-size: 22px;
    color: var(--h-color)
}

.tech-item .link{
    font-size: 18px;
    color: var(--h-color);
    border-radius: var(--radius-rounded);
    background-color: var(--cta-color);
    border: 1px solid var(--border-color);
    padding: 8px 14px 8px 12px;
}

.tech-item .link:hover{
    color: var(--h-color);
}



.tech-item .content{
    background-color: var(--bg-dark-3);

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tech-item .text{
    padding: 12px;
    display: flex;
    gap: 13px;
    flex-direction: column;
    font-size: 12px;
}

.tech-item .description{
    
    color: var(--p-color);
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tech-item .tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--h-color);
}

.tech-item .tag{
    display: flex;
    flex-direction: row;
}

.tech-item .image{
    height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 var(--radius-sm) var(--radius-sm);

}


@media(min-width: 768px){
    .tech-areas{
        padding: 92px;
        gap: 40px;
    }

    .tech-areas .head{
        width: 65%;
        gap: 20px;
    }

    .tech-areas .title{
        font-size: 42px;
        width: 88%;
        font-weight: 600;
        line-height: 1.4;
    }

    .tech-areas .subtitle{
        font-size: 17px;
        line-height: 1.6;
        margin: 1px;
    }

    .tech-areas .footer{
        margin-top: 70px;
        width: 40%;
    }

    .tech-item .name-container{
        flex-direction: row;
        gap:23px
    }

    .tech-item .id{
        font-size: 54px;
    }

    .tech-item .name{
        line-height: 2.2;
        font-size: 33px;
        font-weight: 500;
    }

    .tech-item .i-head{
        border-radius: 0 0 0 var(--radius-sm);
        padding: 8px 24px;
    }

    .tech-item .content{
        width: 91%;
        margin-left: auto;
        flex-direction: row;
        border-radius: 0 0 var(--radius-sm) var(--radius-sm);

    }

    .tech-item .text{
        width: 56%;
        padding: 20px;
        justify-content: space-between;
        font-size: 16px;
        
    }


    .tech-item .image{
        width: 44%;
        height: 300px;
    }

    .tech-item .tags{
        line-height: 1.8;
        
    }

    .tech-item .description{
        -webkit-line-clamp: 6;
        line-clamp: 6;
    }

    .tech-item .link-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tech-item .link{
        padding: 10px 16px
    }

    
}