<div class="competence-center-banner" style="background-image: url(/assets/images/events/background-competence-center.png);">
    <div class="container">
        <h2 class="title">{{title}}</h2>
        <div class="item-container">
            <div class="item {{item.style}}" v-for="item in items">
                <div class="image" style="background-image: url({{item.image}});"></div>
                <div class="content">
                    <h3 class="title-item">{{item.title}}</h3>
                    <p class="description">{{item.description}}</p>
                </div>
            </div>
        </div>
        <div class="link" data-component="consulenti-link"  data-object="{{linkContent}}"></div>
    </div>
</div>